<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevOranges</title>
    <link rel="stylesheet" href="/css/homepage.css">

</head>
<body>
    <div class="header-nav-container">
        <header>
            <h1>DevOranges</h1>
        </header>
        <nav>
            <a href="#about">About</a>
            <a href="#projects">Portfolio</a>
            <a href="#contact">Contact me</a>
        </nav>
    </div>
    <section id="introduction">
        <img id="main-img" src="/img/devornges_icon.jpeg">
        <h4>I can produce these things</h4>
    </section>
    <section id="projects">
        <h1 class="section-title">WORK EXPERIENCE</h1>
        <div class="portfolio-grid">
            <a href="/ordermanager"><img src="/img/node.jpeg" alt="Web Image">
                <h3>Web application</h3></a>
            <a href="https://henhunt.devoranges.com/"><img src="/img/unity.jpg" alt="Unity Image">
                <h3>Unity Game(hen-hunt)</h3></a>
            <a href="https://github.com/euniejo/order-management.git"><img src="/img/csharp.jpeg" alt="C# Image">
                <h3>C# Application</h3></a>
            <a href="https://github.com/euniejo/play-santa.git"><img src="/img/monogame.png" alt="Monogame Image">
                <h3>Mono Game(play-santa)</h3></a>
            <a href=""><img src="/img/blackbox_close_question.png" alt="Image 5">
            <h1>-</h1></a>
            <a href=""><img src="/img/blackbox_close_question.png" alt="Image 6">
                <h1>-</h1></a>
        </div>
    </section>
    <section id="about">
        <h1 class="section-title">ABOUT ME</h1>
        <div>   
            <h3>Welcome to Devoranges</h3>
            <p>
                This homepage serves as a platform where I share my passion for software services
                and showcase my expertise in various technologies. 
                Feel free to explore the projects and services I've worked on, 
                and don't hesitate to reach out if you're interested in collaborating 
                or discussing software development ideas!
                Let's innovate and create together! 🚀
            </p>
            <h3>About me</h3>
            <p>
                👋 Hello there! I'm an aspiring software developer.
                I'm deeply passionate about software development and 
                constantly strive to enhance my skills and knowledge in the field. 
                With experience in Embedded Speech Recognition using C++, 
                I'm particularly intrigued by object-oriented programming (OOP) 
                with a strong focus on languages like C#, Java, and various design patterns.
            </p>
            <h3>My Interests</h3>
            <p>
                Here are some areas I'm enthusiastic about and eager to explore further:
                <li>Web Development: Proficient in HTML, CSS, JavaScript, and frameworks like Node.js and ASP.NET.</li>
                <li>Database Management: Skilled in handling databases including MS SQL Server, MySQL, and MS Access.</li>
                <li>Mobile Applications: Familiar with JavaScript, jQuery Mobile/Bootstrap, and Angular for developing mobile applications.</li>
            </p>
        </div>
    </section>

    <section id="contact">
        <h1 class="section-title">CONTACT</h1><br>
        <div class="contact-links">
            <div class="contact-item">
                <a href="https://github.com/euniejo" target="_blank">
                    <img src="/img/github_icon.png" alt="GitHub" class="contact-img">
                    <p class="contact-text">GitHub</p>
                </a>
            </div>
            <div class="contact-item">
                <a href="https://www.linkedin.com/in/euniejo/" target="_blank">
                    <img src="/img/linkedin_icon.png" alt="LinkedIn" class="contact-img">
                    <p class="contact-text">LinkedIn</p>
                </a>
            </div>
            <div class="contact-item">
                <a href="mailto:iameuniejo@gmail.com">
                    <img src="/img/email_icon.png" alt="Email" class="contact-img">
                    <p class="contact-text">iameuniejo@gmail.com</p>
                </a>
            </div>
            <div class="contact-item">
                <a href="https://devoranges.com/" target="_blank">
                    <img src="/img/devornges_icon.jpeg" alt="Website" class="contact-img">
                    <p class="contact-text">Website</p>
                </a>
            </div>
        </div>
        <br>
        <form>
            <h2>Send e-mail to me</h2>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <label for="message">Message:</label>
            <textarea id="message" name="message" rows="4" required></textarea>
            <input type="submit" value="Send">
        </form>
    </section>
</body>
</html>
